.container {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin: auto;
  }
  .input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    /* border-radius: 5000px; */
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    
    
}

.h1{
    color: darkred;
}

.btnBck{
    
    border-radius: 15px;
    background-color: transparent;
    height: 35px;
    width: 100px;
    color: darkred;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
      
}

.btnCr{
    
    
    background-color: transparent;
    height: 50px;
    width: 160px;
    color: darkred;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 15px;
}
.p{
    color: red;
    font-size: 20px;
}

.select {
    background-color: transparent;
    border: 2px solid red;
        color: black;
    padding: 12px;
    width: 200px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(5px);
    border-radius: 5000px;
  }

  .divTitle{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .Divcontainer{
    align-items: center;
    justify-content: space-around;
    align-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px;
  }

  .dts{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .divDiets{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .btnX{
    background-color: transparent;
    height: 30px;
    width: 30px;
    color: darkred;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border: none;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 15px;   
  }